*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    position: sticky;
    top: 0;
    background: white;
    width: 100%;   
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px;
}

.navbar ul{
  display: flex;
  gap: 10px;
}

.navbar-button{
  border-radius: 30px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background: #1C219F;
  /* border-radius: 10%;   */
}

.navbar li a{
  padding: 16px 24px;
  display: block;
  color: black; 
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.navbar ul a:hover, .active{
  color: #1C219F !important;
  transition: all ease;
  border-bottom: 2px solid #1C219F;
}

.logo p{
  font-size: 12px;
}
.navbarr{
  background-color: rgb(235 245 255);
}
.navbarr li{
  margin-left: 30px;
  padding: 30px;
  font-size: 100;
  font-weight: 500;
  float: left;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 5px;
}
.srh{
  margin-left: 1300px;
  
}
ul{
   list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
}
button{
  border: none;
  margin-left: 100px;
  border-radius: 50px;
  font-size: large;
  color: white;
  background-color: rgb(6, 6, 139);
  padding: 30px;
  margin-top: 1px;
 
}

.section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  font-size: larger;
  font-weight: 500;
}

.bar{
  width: 10px;
  background: #1C219F;
  height: 30px;
  border-radius: 9px;
}
.barr{
  margin-top: 50px;
}
.par{
  flex: 1;
}
.red{
 height: 10px;
}
.redd{
 border-radius: 30px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background: #020447;
  margin-right: 0;
}
.reddd{
   border-radius: 30px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background-color: black;
  margin-top: 30px;
  margin-left: 0;
}
.redddd{
   border-radius: 30px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background-color: black;
  margin-top: 30px;
  margin-left: 0;
}
.section-img {
  width: 100%;             
  max-width: 200px;        
  border-radius: 10px;     
}
.boxx{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  align-items: center;
}
.ppp{
  background-color: rgb(250, 247, 247);
}
.buttoncontainer{
  display: flex;
  gap: 20px;
}
.box {
  background-color: white;
  border: none;  
  border-radius: 0;     
  padding: 15px;
  flex: 1;                 
  text-align: center;      
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  height: 150px;
   box-sizing: border-box;
   font-size: large;
   font-weight: 600;
   margin: 30px;
}
.box p{
  margin-top: 10px;
}
.vid{
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
  gap: 20px;
  align-items: center;
  margin: 50px;
}
.vidd{
  width: 10px;
  height: auto; 
  border-radius: 8px;
  flex: 1;
}
.viddd{
  margin-left: 50px;
  margin-top: 0;
}
.h2{
  color: blue;
}
.h1{
  font-family: 'Times New Roman', Times, serif;
}
.h3{
  color: rgb(133, 131, 131);
}
.bk{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  align-items: center;
  margin: auto;
}
.tailor{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;  
}
.sec{

 background-color: rgb(211, 238, 248);
  border: none;  
  border-radius: 0;     
  padding: 15px;
  flex: 1;                 
  text-align: center;      
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  height: 250px;
align-items: center;
margin: 20px;
}
.tailor2{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;

}
.secc{
   background-color: rgb(211, 238, 248);
  border: none;  
  border-radius: 10px;     
  padding: 15px;
  flex: 1;                 
  text-align: center;      
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  height: 200px;
align-items: center;
}
.wmm{
  color: blue;
}
.wmmm{
  color: gray;
}
.wm{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  align-items: center;
  margin: auto;
}
.ddd{
  background-color: rgb(17, 17, 155);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  margin: auto;
  margin-top: 10px;
}
.ddd2{
  margin: 70px;
}
.ddd3{
  margin-bottom: 0px;
  margin-right: 300px;
  margin-bottom: 0px;
}
.butttt{
  background-color: white;
  color: blue;
  border-radius: 0;
   border-radius: 30px;
  text-decoration: none;
  font-size: 18px;
  margin-left: 50px;
  margin-top: 20px;
  align-items: center;
  padding: 20px 40px; 
}
.kids{
    display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  align-items: center;
  margin: auto;
}
.mmm{
  margin-left: 200px;
  font-size: larger;
}
footer{
 background-color: rgb(5, 5, 110);
 margin-top: 50px;
  display: flex;
color: rgba(255, 255, 255, 0.877);
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  font-size: medium;
 
  height: 500px;
}
div.fixed {
  position: fixed;
  bottom: 0;
  right: 10em;
  width: 100px;
  height: 180px;
}
.quicklinks {
  color: red;
}
.cbn{
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: rgb(43, 42, 42);
  color: white;
  height: 80px;
  margin: top 300px;;
}
.cbn img {
  width: 30px;
  height: 30px;
}
.lastt{
  background-color: rgb(65, 64, 64);
  color: white;
  padding: 20px;
}
.search-box{
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}
.search-box input{
  border-radius: 20px;
  width: 0;
  padding: 10px 0;
  border: none;
  background: #87cefa; 
  opacity: 0;
  transition: all 0.4s ease; 
}
.search-box input:focus,
.search-box:hover input{
  width: 200px;
  padding: 10px 15px;
  opacity: 1;
}
  .search{
    background-color: #87cefa;
    zoom: 200%;
    border-radius: 50px;
  }
.dropbtn {
  /* background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer; */
border-radius: 30px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background: #1C219F; 
}
.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover{
  background-color: #3e8e41;
} */













